:root {
  --global-padding: 15px;
  --main-color: #19c8f2;
  --transparent-color: rgb(15 116 143 / 70%);
  --main-padding: 10px;
}
/* Start Global Rules */
* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: rgba(0, 0, 0, 0.639); */
}
ul {
  list-style: none;
}
.container {
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/*Start Components*/
.main-heading {
  margin-top: 100px;
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: " ";
  position: absolute;
  width: 133px;
  height: 2.5px;
  background-color: black;
  left: 50%;
  bottom: -28px;
  transform: translate(-50%);
}
.main-heading h2::after {
  content: " ";
  width: 16px;
  height: 16px;
  border: 2.5px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  /* z-index: 1; */
  bottom: -36px;
  transform: translate(-50%);
  background-color: white;
}
.main-heading p {
  width: 530px;
  margin: 0px auto 100px;
  line-height: 2;
  color: #777;
  max-width: 100%;
  font-size: 18px;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  /* z-index: 1; */
}
/*End Components*/

/*Start Header*/
header {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: " ";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  bottom: 0px;
  background-color: #a2a2a2;
}
header .container nav .burger-icon {
  color: white;
  display: none;
  margin-right: 20px;
}
@media (max-width: 768px) {
  header .container nav .burger-icon {
    display: block;
  }
  header .container nav .burger-icon:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000080;
    z-index: 4;
  }
  header .container nav .burger-icon:hover + ul li a {
    padding-bottom: 17px;
    padding-top: 17px;
  }
}
header .container .logo img {
  height: 50px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  display: flex;
  z-index: 1;
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}
header .container nav ul li a {
  display: block;
  padding: 40px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .search-icon {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid white;
  margin: 10px 0px;
}
header .container nav .search-icon i {
  color: white;
  font-size: 18px;
}
/*End Header*/

/* Start Landing */
.landing {
  min-height: 100vh;
  background-image: url(../imgs/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .landing-content {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  background-color: var(--transparent-color);
  width: 50%;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  /* z-index: 2; */
}
@media (max-width: 768px) {
  .landing .landing-content {
    width: 100%;
  }
  .landing .landing-content .landing-text {
    max-width: 100%;
  }
}
.landing .landing-content .landing-text {
  max-width: 500px;
}
.landing .landing-content .landing-text h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 25px;
  color: white;
}
.landing .landing-content .landing-text p {
  font-size: 17px;
  line-height: 2;
  color: white;
}
@media (max-width: 768px) {
  .landing i {
    display: none;
  }
}
.landing i {
  color: white;
  /* font-size: 30px; */
  position: absolute;
  top: 50%;
  /* font-weight: bolder; */
  transform: translate(0, -50%);
  /* z-index: 2; */
}

.landing i:first-of-type {
  padding-left: 40px;
}
.landing i:last-of-type {
  right: 0px;
  padding-right: 40px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  transform: translate(-50%, 0);
  /* z-index: 2; */
}
.landing .bullets li {
  border: 1px solid white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-top: 4px;
  list-style: none;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */

/* Start Services Section */

.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  margin-bottom: 100px;
}
.services .container .services-content .services-col .serv .serv-text {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .container .services-content .services-col .serv .serv-text h3 {
  color: var(--main-color);
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}
.services .container .services-content .services-col .serv .serv-text p {
  color: #777;
  line-height: 1.9;
  text-align: center;
}
.services .container .services-content .services-col .serv {
  position: relative;
  margin-bottom: 30px;
  margin-top: 100px;
}
.services .container .services-content .services-col .serv i {
  position: absolute;
  top: -60px;
  right: 50%;
  transform: translate(50%);
}
@media (min-width: 768px) {
  .services .container .services-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services .container .services-content .services-col {
    width: calc(85% / 2);
  }
  .services .container .services-content .services-col .serv {
    position: relative;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .services .container .services-content .services-col .serv i {
    position: absolute;
    top: -1px;
    left: -90px;
    right: 0;
    transform: translate(0);
  }
  .services .container .services-content .services-col .serv .serv-text {
    display: block;
  }
  .services .container .services-content .services-col .serv .serv-text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
    font-size: 20px;
  }
  .services .container .services-content .services-col .serv .serv-text p {
    color: #777;
    line-height: 1.9;
    text-align: initial;
  }
}
.design {
  background-image: url(../imgs/5.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.design .mobile {
  position: absolute;
  z-index: 0;
  bottom: -60px;
  left: 190px;
}
@media (max-width: 767px) {
  .design .mobile {
    display: none;
  }
}
.design .content {
  position: absolute;
  height: 50%;
  width: 45%;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  background-color: var(--transparent-color);
  z-index: 2;
}
.design .content .text {
  padding: 45px;
}
.design .content .text h2 {
  font-weight: normal;
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}
.design .content .text ul li {
  color: white;
  padding: 20px;
  font-size: 19px;
}
.design .content .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 15px;
  position: relative;
  top: 1px;
}
@media (max-width: 767px) {
  .design .content {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    background-color: var(--transparent-color);
  }
  .design .content .text ul li {
    color: white;
    padding: 15px;
    font-size: 16px;
  }
}
/* End Services Section */

/* Start Portifolio Section */
.portifolio .container .imgs-types {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portifolio .container .imgs-types li {
  list-style: none;
  padding: 12px;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 50px;
}
.portifolio .container .imgs-types li.active {
  background-color: var(--main-color);
  color: white;
}
.portifolio .imgs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portifolio .imgs-container .img-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .portifolio .imgs-container .img-box {
    flex-basis: 50%;
  }
}
/* Medium */
@media (min-width: 1199px) {
  .portifolio .imgs-container .img-box {
    flex-basis: 25%;
  }
}
.portifolio .imgs-container .img-box img {
  width: 100%;
  max-width: 100%;
  height: calc(2373px / 6);
  transition: 0.3s;
  /* height: calc (100% / 4); */
}
.portifolio .imgs-container .img-box:hover .img-caption {
  bottom: 0px;
}
.portifolio .imgs-container .img-box:hover img {
  transform: rotate(4deg) scale(1.1);
}
.portifolio .imgs-container .img-box .img-caption {
  background-color: white;
  padding: 25px;
  position: absolute;
  width: 100%;
  bottom: -100%;
  transition: 0.3s;
}
.portifolio .imgs-container .img-box .img-caption h4 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
.portifolio .imgs-container .img-box .img-caption p {
  color: var(--main-color);
  font-size: 18px;
}
.portifolio a.more {
  background-color: var(--main-color);
  padding: 15px 20px;
  text-decoration: none;
  margin: 40px auto;
  display: block;
  width: fit-content;
  color: white;
  font-size: 20px;
}

/* End Portifolio Section */
